<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Programa de Estudo - IGTI</title>
  <link rel="stylesheet" href="./styles.css" />
  <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div id="container2">
    <div class="post-section-featured is-featured-image">
      <div class="post-featured-wrap flex">
        <article class="featured-content">
          <div class="tags-wrap">
            <span class="featured-label global-tag">
              <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.9712403,8.05987765 L16.2291373,8.05987765 L12.796794,0.459688839 C12.5516266,-0.153229613 11.4483734,-0.153229613 11.0806223,0.459688839 L7.64827899,8.05987765 L0.906176009,8.05987765 C0.538424938,8.05987765 0.170673866,8.30504503 0.0480901758,8.6727961 C-0.0744935148,9.04054717 0.0480901758,9.40829825 0.293257557,9.65346563 L5.31918887,14.3116459 L3.11268244,22.4021694 C2.99009875,22.7699205 3.11268244,23.1376716 3.48043351,23.382839 C3.72560089,23.6280063 4.21593565,23.6280063 4.46110303,23.5054227 L11.9387082,19.2149935 L19.4163133,23.5054227 C19.538897,23.6280063 19.6614807,23.6280063 19.906648,23.6280063 C20.1518154,23.6280063 20.2743991,23.5054227 20.5195665,23.382839 C20.7647339,23.1376716 20.8873176,22.7699205 20.8873176,22.4021694 L18.6808111,14.3116459 L23.7067424,9.65346563 C23.9519098,9.40829825 24.0744935,9.04054717 23.9519098,8.6727961 C23.7067424,8.30504503 23.3389914,8.05987765 22.9712403,8.05987765 Z">
                </path>
              </svg>
              <span>Destaque</span></span>
            <a class="post-tag global-tag" href="/tag/react-native/">React Native</a>
            <a class="post-tag global-tag" href="/tag/reactnavigation/">ReactNavigation</a>
          </div>
          <h2 class="white">Tipos de navegação no React Native</h2>
          <div class="item-meta white">
            <span>por</span>
            <a href="/author/levir/">Carlos Levir</a>
            <time datetime="2019-08-01">há 10 meses</time>
            <span class="reading-time"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.1907692,24 C4.5625628,24 0,19.4374372 0,13.8092308 C0,8.18102433 4.5625628,3.61846154 10.1907692,3.61846154 C15.8189757,3.61846154 20.3815385,8.18102433 20.3815385,13.8092308 C20.3815385,19.4374372 15.8189757,24 10.1907692,24 Z M10.1907692,22 C14.7144062,22 18.3815385,18.3328677 18.3815385,13.8092308 C18.3815385,9.28559383 14.7144062,5.61846154 10.1907692,5.61846154 C5.6671323,5.61846154 2,9.28559383 2,13.8092308 C2,18.3328677 5.6671323,22 10.1907692,22 Z"
                  id="Oval"></path>
                <path
                  d="M7.53230769,2.32923077 C6.98002294,2.32923077 6.53230769,1.88151552 6.53230769,1.32923077 C6.53230769,0.776946019 6.98002294,0.329230769 7.53230769,0.329230769 L12.9225711,0.329230769 C13.4748559,0.329230769 13.9225711,0.776946019 13.9225711,1.32923077 C13.9225711,1.88151552 13.4748559,2.32923077 12.9225711,2.32923077 L7.53230769,2.32923077 Z"
                  id="Line-2"></path>
                <path
                  d="M13.2928932,9.29289322 C13.6834175,8.90236893 14.3165825,8.90236893 14.7071068,9.29289322 C15.0976311,9.68341751 15.0976311,10.3165825 14.7071068,10.7071068 L10.897876,14.5163376 C10.5073517,14.9068618 9.87418674,14.9068618 9.48366245,14.5163376 C9.09313816,14.1258133 9.09313816,13.4926483 9.48366245,13.102124 L13.2928932,9.29289322 Z"
                  id="Line"></path>
              </svg> 4 min
              read<span>
          </div>
        </article>
      </div>
      <div class="section-post wrap">
        <div class="post-wrap ">
          <hr>
          <h2>Introdução</h2>
          <p>Neste módulo foram apresentadas as noções de HTML e de CSS. Pude revisitar conceitos e práticas com
            JavaScript, além de aprender muitas coisas novas.</p>
          <p>O destaque desta etapa foi poder criar aplicações simples, porém efetivas na fixação de conteúdo, usando
            JavaScript sem frameworks ou bibliotecas desta linguagem de programação. Assim, consegui visualizar o quanto
            JavaScript evoluiu nos últimos anos.</p>
          <p>Vale mencionar que na maioria das aulas foram apresentadas e utilizadas as novas formas de programar com
            JavaScript moderno (ES6+). Com JavaScript moderno, está prazeroso o desenvolvimento web.</p>
          <hr>
          <h2>Projetos práticos</h2>
          <p>Abaixo, seguem meus dois projetos práticos desenvolvidos nesta etapa.</p>

          <section id="projets">
            <div class="card">
              <div class="card-body">
                <div class="avatar"><span class="avatar-title">F</span></div>
                <h5><a href="/contacts-grid">RGB Picker</a></h5>
                <a class="post-tag tag-info-project" href="/tag/reactnavigation/"><i class='bx bxs-circle'></i>Trabalho
                  Prático</a>
                <p>JavaScript, HTML e CSS</p>
                <div>
                  <a class="badge" href="/contacts-grid">HTML</a>
                  <a class="badge" href="/contacts-grid">CSS</a>
                  <a class="badge" href="/contacts-grid">JavaScript</a>
                </div>
              </div>
              <div class="card-footer">
                <div class="contact-links">
                  <div class="flex-fill"><a id="message1" href="/"><i class="bx bx-message-square-dots"></i></a></div>
                  <div class="flex-fill"><a id="project1" href="/"><i class="bx bx-pie-chart-alt"></i></a></div>
                  <div class="flex-fill"><a id="profile1" href="/"><i class="bx bx-user-circle"></i></a></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="avatar"><span class="avatar-title">F</span></div>
                <h5><a href="/contacts-grid">User Search</a></h5>
                <a class="post-tag tag-info-project" href="/tag/reactnavigation/"><i
                    class='bx bxs-circle'></i>Desafio</a>
                <p>JavaScript moderno</p>
                <div>
                  <a class="badge" href="/contacts-grid">HTML</a>
                  <a class="badge" href="/contacts-grid">CSS</a>
                  <a class="badge" href="/contacts-grid">JavaScript</a>
                </div>
              </div>
              <div class="card-footer">
                <div class="contact-links">
                  <div class="flex-fill"><a id="message1" href="/"><i class="bx bx-message-square-dots"></i></a></div>
                  <div class="flex-fill"><a id="project1" href="/"><i class="bx bx-pie-chart-alt"></i></a></div>
                  <div class="flex-fill"><a id="profile1" href="/"><i class="bx bx-user-circle"></i></a></div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>

      <footer>
        Com 💜
        <a href="http://rocketseat.com.br" target="a_blank">Felipe Santiago</a>
      </footer>

    </div>
  </div>
</body>

</html>