@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap");

/* GLOBAL */

body {
  background: #222736;
  color: #f6f6f6;

  font-family: "Montserrat", sans-serif;

  margin: 0;
  border: 0;
  padding: 0;
}

body.hideScroll {
  overflow: hidden;
}

a {
  color: #3452e1;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
.description {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1px;
}

/* PADRÃO */

#container {
  width: 90%;
  max-width: 980px;

  margin: 40px auto;

  display: flex;
}

.idea button {
  height: 40px;
  margin-right: 0px;
  padding: 0;
  width: 100%;
}

.idea button:hover {
  opacity: 70%;
}

.idea button img {
  width: 20px;
  height: 20px;
  margin: 0;
  float: right;
}

#intro {
  width: 500px;
  margin-right: 64px;
}

#intro img {
  display: flex;
  margin: 0 auto;
}

main {
  margin: 32px 0;
}

footer {
  text-align: center;

  font-size: 14px;
  font-weight: regular;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.7;
}

.idea {
  display: flex;

  background-color: #2a3042;
  border-radius: 8px;
  box-shadow: 0 4px 50px -8px rgba(1, 1, 1, 0.2);

  padding: 32px;

  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #bfc8e2;
}

.idea .description {
  margin: 16px 0;
}

.unavailable {
  display: flex;
  align-items: center;
  color: #bfc8e2;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.unavailable svg {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  fill: #bfc8e2;
}

.unavailable p {
  font-size: 0.8em;
}

/* MODAL */

.content {
  width: 100%;
}

/* IDEIA.HTML */

#page-ideas #container {
  display: block;
}

#page-ideas header {
  display: flex;
  justify-content: space-between;
}

#page-ideas nav {
  display: flex;
  align-items: center;
}

#page-ideas nav li {
  list-style-type: none;

  margin-right: 16px;
}

#page-ideas nav li a {
  color: #25282b;
}

#page-ideas nav li a.button {
  color: white;
}

#page-ideas nav li:last-child {
  margin: 0;
}

section#title {
  text-align: center;
}

section#title p {
  opacity: 0.7;
  margin: 0;
}

.programa span {
  font-size: 0.65em;
  line-height: 40px;
  padding: 6px;
  color: #bfc8e2;

  background-color: #2a3042;
  box-shadow: 0 4px 15px -8px rgba(1, 1, 1, 0.5);
  border-radius: 8px;
  letter-spacing: 1.5px;
}

.programa p {
  line-height: 20px;
  font-size: 0.7em;
  letter-spacing: 0.5px;
}

.avatar {
  margin: 0 auto;
  padding: 1em;
  border-radius: 50%;
  height: 7.5rem;
  width: 7.5rem;
}

.avatar img {
  float: left;
  height: 7.5rem;
  width: 7.5rem;
  padding: 0.25rem;
  background-color: #222736;
  border: 1px solid #32394e;
  border-radius: 50%;
}

.profile {
  text-align: justify;
  text-justify: inter-word;
}

section#title h1 {
  margin: 0;

  font-size: 28px;
}

section#ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

section#ideas .idea {
  margin: 0;
}

section#title,
section#ideas,
footer {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .footer-web {
    visibility: visible;
    margin: 0px;
  }

  .footer-mobile {
    visibility: hidden;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #intro {
    margin: 0 auto;
    width: 500px;
  }

  .footer-web {
    visibility: hidden;
    margin: 0px;
  }

  .footer-mobile {
    visibility: visible;
    margin: 0px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
  }

  #intro {
    margin: 0 auto;
    width: 400px;
  }
}

@media (max-width: 500px) {
  #container {
    flex-direction: column;
  }

  #intro {
    margin: 0 auto;
    width: 300px;
  }

  #last-ideas img {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  #container {
    flex-direction: column;
  }

  #intro {
    margin: 0 auto;
    width: 250px;
  }
}

/* btn custom */

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #a6b0cf;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.47rem 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #556ee6;
  border-color: #556ee6;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.71094rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
