<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/style.css" />
  </head>
  <body>
    <body>
      <div id="container">
        <section id="intro">
          <header>
            <a href="/">
              <img src="../../public/assets/igti-logo.png" height="80"
                alt="Imagem da
                Logomarca"
                />
            </a>
          </header>

          <main>
            <div class="programa">
              <div>
                Programa <strong>Bootcamp Full Stack</strong>
              </div>
              <span>JavaScript</span>
              <span>Node.js</span>
              <span>React</span>
              <span>MongoDB</span>

              <div class="profile">
                <div class="avatar">
                  <img src="../../public/assets/avatar.jpeg"
                    alt="Imagem de Tocar Violão" />
                </div>

                <p>
                  Em maio de 2020 aceitei o desafio e iniciei a participação
                  no
                  Bootcamp Full Stack da IGTI. O programa tem como objetivo
                  oferecer
                  uma formação prática e intensiva em algumas tecnologias para
                  desenvolvedor full stack. São 148h de aulas, em pouco mais
                  de
                  2
                  meses.
                </p>
                <p>
                  O Bootcamp apresenta técnicas de construção de uma aplicação
                  passando pelo back-end (Node.js e Express), front-end
                  (React),
                  persistência de dados NoSQL (MongoDB), controle de
                  versionamento
                  de código com Git e implantação em nuvem.
                </p>
                <p>
                  Em vez de subir separadamente ao Github cada projeto
                  concluído
                  neste bootcamp, preparei esta página e as demais como um
                  storytelling sobre a evolução no aprendizado.
                </p>
                <p>
                  Abaixo estão listados os módulos previstos. O módulo atual é
                  o
                  de Fundamentos. Clicando em "Detalhes", você encontra
                  informações específicas de cada etapa, bem como acesso aos
                  códigos e o resultado final.
                </p>
              </div>
            </div>
          </main>

          <section id="buttons">
            <button onclick="onOff()">+ Adicionar Ideia</button>
            <a href="ideias" class="button"> Ver Ideias</a>
          </section>

          <footer class="footer-web">
            Com 💜
            <a href="http://rocketseat.com.br" target="a_blank">Felipe Santiago</a>
          </footer>
        </section>

        <section id="last-ideas">
          <div data-id="7" class="idea">
            <img src="../../public/assets/icons/fundamentals.svg"
              alt="Imagem de Tocar Violão" />

            <div class="content">
              <h3>01. Fundamentos</h3>
              <p>Módulo 1 (34h)</p>
              <div class="description">
                Desenvolvimento de aplicação simples com JavaScript puro e dados
                persistidos em memória.
              </div>
              <a href="http://rocketseat.com.br" target="a_blank">Detalhes</a>
            </div>
          </div>
          <div data-id="6" class="idea">
            <img src="../../public/assets/icons/developer.svg"
              alt="Imagem de Video-game" />

            <div class="content">
              <h3>02. Desenvolvimento de APIs</h3>
              <p>Módulo 2 (34h)</p>
              <div class="description">
                Criação de API com o Node.js.
              </div>
              <div class="unavailable">
                <img src="../../public/assets/icons/locker.svg"
                  alt="Imagem de Video-game" />
                <div>Desafios deste módulo ainda não foram
                  disponibilizados.</div>
              </div>
              <a href="http://rocketseat.com.br" target="a_blank">Detalhes</a>
            </div>
          </div>
          <div data-id="6" class="idea">
            <img src="../../public/assets/icons/react.svg"
              alt="Imagem de Video-game" />

            <div class="content">
              <h3>03. Front-end com React</h3>
              <p>Módulo 2 (34h)</p>
              <div class="description">
                Desenvolvimento de aplicação com React, conectando-se à API
                criada no módulo anterior.
              </div>
              <div class="unavailable">
                <img src="../../public/assets/icons/locker.svg"
                  alt="Imagem de Video-game" />
                <div>Desafios deste módulo ainda não foram
                  disponibilizados.</div>
              </div>
              <a href="http://rocketseat.com.br" target="a_blank">Detalhes</a>
            </div>
          </div>
          <div data-id="6" class="idea">
            <img src="../../public/assets/icons/deploy.svg"
              alt="Imagem de Video-game" />

            <div class="content">
              <h3>04. Persistência de dados, versionamento de código e
                implantação</h3>
              <p>Módulo 4 (34h)</p>
              <div class="description">
                Publicação da aplicação no Github e implantação no Heroku.
              </div>
              <div class="unavailable">
                <img src="../../public/assets/icons/forbidden.svg"
                  alt="Imagem de Video-game" />
                <div>Desafios deste módulo ainda não foram
                  disponibilizados.</div>
              </div>
              <a href="http://rocketseat.com.br" target="a_blank">Detalhes</a>
            </div>
          </div>
        </section>
      </div>

      <footer class="footer-mobile">
        Com 💜
        <a href="http://rocketseat.com.br" target="a_blank">Felipe Santiago</a>
      </footer>

      <div id="modal" class="hide">
        <div class="content">
          <h1>Nova Ideia</h1>

          <form action="/" method="POST" onsubmit="return checkFields(event)">
            <div class="input-wrapper">
              <label for="title">Título da ideia</label>
              <input type="text" name="title" />
            </div>

            <div class="input-wrapper">
              <label for="category">Categoria</label>
              <input type="text" name="category" />
            </div>

            <div class="input-wrapper">
              <label for="image">Link da imagem</label>
              <input type="url" name="image" />
            </div>

            <div class="input-wrapper">
              <label for="description">Digite uma descrição para essa ideia</label>
              <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
              <label for="link">Link da ideia</label>
              <input type="url" name="link" />
            </div>

            <a href="#" onclick="onOff()">Voltar</a>
            <button onclick="onOff()">Salvar</button>
          </form>
        </div>
      </div>


      <script src="../../public/scripts.js"></script>
    </body>
  </body>
</html>